.Daddy {
  height: 50px;
  width: 100%;
}

#mommy {
  margin: ;
}

#pop-up1 {
  position: fixed;
  border: 1px solid black;
  width: 20%;
  left: 70%;
  bottom: 90%;
  transform: translate(-10%, +90%);
  text-align: center;
  display: none;
  height: 85%;
}
.imgbutton {
  width: 200px;
  height: 30px;
  margin: 5px;
  transition: 1s;
}
.imgbutton:hover {
  transform: scale(1.05);
}
.father {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}
